@reboot searchd
@reboot indexer --all --rotate

* * * * * indexer magnet --rotate > /dev/null 2>&1

* * * * * /usr/bin/php /YGGtracker/src/crontab/scrape.php      > /dev/null 2>&1
* 5 * * * /usr/bin/php /YGGtracker/src/crontab/import/feed.php > /dev/null 2>&1
* 0 * * * /usr/bin/php /YGGtracker/src/crontab/export/feed.php > /dev/null 2>&1
* * * * * /usr/bin/php /YGGtracker/src/crontab/export/push.php > /dev/null 2>&1
0 0 * * * /usr/bin/php /YGGtracker/src/crontab/sitemap.php     > /dev/null 2>&1