/.vscode/

/vendor/

/database/yggtracker.mwb.bak

/src/public/api/*.json

/src/config/*
!/src/config/bootstrap.json
!/src/config/nodes.json
!/src/config/trackers.json
!/src/config/peers.json

/src/public/sitemap.xml

/src/storage/log/*.log

/composer.lock

*test*