/.vscode/

/vendor/

/database/yggtracker.mwb.bak

/src/public/api/*.json

/src/config/*
!/src/config/bootstrap.php
!/src/config/nodes.php
!/src/config/trackers.php

/src/public/sitemap.xml

/composer.lock

*test*