{% extends 'default/layout.html.twig' %}
{% block title %}{{ 'Activity' | trans }} - {{ name }}{% endblock %}
{% block main_content %}
    {% for activity in activities %}
        <div class="padding-16-px margin-y-8-px border-radius-3-px background-color-night">
            {{ render(controller(
                'App\\Controller\\ActivityController::template',
                { activity : activity }
            )) }}
        </div>
    {% endfor %}
{% endblock %}