<form class="margin-t-8-px" name="search" method="get" action="{{ path('search_index') }}">
  <input class="min-width-200-px" type="text" name="query" value="{{ query }}" placeholder="{{'Keyword, file, extension, hash...'|trans }}" />
  <input type="submit" value="{{'Search'|trans }}" />
</form>