{% extends theme ~ '/layout.html.twig' %}
{% block title %}{{ 'Not found' | trans }} - {{ name }}{% endblock %}
{% block main_content %}
    <div class="padding-24-px margin-y-8-px border-radius-3-px background-color-night">
        <div class="text-center">
            <h1 class="display-block margin-b-16-px">
                404
            </h1>
            <div class="text-color-night margin-y-16-px">
                {{ 'Page not found!' | trans }}
            </div>
        </div>
    <div>
{% endblock %}